openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: yTravel
  description: Yandex.Travel Schedules
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - yTravel
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: false
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/copyright/:
    get:
      tags:
      - yTravel
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
      - name: apikey
        in: query
        description: API key
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightObject'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v3.0/schedule/:
    get:
      tags:
        - yTravel
      summary: Расписание рейсов по станции
      operationId: getSchedule
      parameters:
        - name: apikey
          in: query
          description: API key
          required: false
          schema:
            type: string
        - name: station
          in: query
          description: код станции
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: json или xml
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: lang
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата (формат YYYY-MM-DD)
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспортного средства.
          required: false
          schema:
            type: string
            enum:
              - plane
              - train
              - suburban
              - bus
              - water
              - helicopter
        - name: direction
          in: query
          description: Код направления
          required: false
          schema:
            type: string
        - name: event
          in: query
          description: departure или arrival
          required: false
          schema:
            type: string
            enum:
              - departure
              - arrival
        - name: system
          in: query
          description: Система кодирования для параметра station
          required: false
          schema:
            type: string
            enum:
              - yandex
              - iata
              - sirena
              - express
              - esr
        - name: show_systems
          in: query
          description: Коды в ответе
          required: false
          schema:
            type: string
            enum:
              - yandex
              - esr
              - all
        - name: result_timezone
          in: query
          description: Часовой пояс
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Значение по умолчанию — 100.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedules'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v3.0/search/:
    get:
      tags:
        - yTravel
      summary: Расписание рейсов между станциями
      operationId: getSearches
      parameters:
        - name: apikey
          in: query
          description: API key
          required: false
          schema:
            type: string
        - name: from
          in: query
          description: Код станции отправления
          required: true
          schema:
            type: string
        - name: to
          in: query
          description: Код станции прибытия
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: json или xml
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: lang
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата (формат YYYY-MM-DD)
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспортного средства.
          required: false
          schema:
            type: string
            enum:
              - plane
              - train
              - suburban
              - bus
              - water
              - helicopter
        - name: system
          in: query
          description: система кодирования параметров to и from
          required: false
          schema:
            type: string
            enum:
              - yandex
              - iata
              - sirena
              - express
              - esr
        - name: show_systems
          in: query
          description: система кодирования для ответа
          required: false
          schema:
            type: string
            enum:
              - yandex
              - esr
        - name: offset
          in: query
          description: Значение по умолчанию — 0.
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Значение по умолчанию — 100.
          required: false
          schema:
            type: integer
        - name: add_days_mask
          in: query
          description: запрос календаря хождения рейсов
          required: false
          schema:
            type: boolean
        - name: result_timezone
          in: query
          description: часовой пояс.
          required: false
          schema:
            type: string
        - name: transfers
          in: query
          description: признак запроса маршрутов с пересадками.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchObject'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v3.0/thread/:
    get:
      tags:
        - yTravel
      summary: Список станций следования
      operationId: getThread
      parameters:
        - name: apikey
          in: query
          description: API key
          required: false
          schema:
            type: string
        - name: uid
          in: query
          description: Идентификатор нитки.
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: Код станции отправления.
          required: false
          schema:
            type: string
        - name: to
          in: query
          description: Код станции прибытия.
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: json или xml
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: lang
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата (формат YYYY-MM-DD)
          required: false
          schema:
            type: string
        - name: show_systems
          in: query
          description: коды в ответе.
          required: false
          schema:
            type: string
            enum:
              - yandex
              - esr
              - all
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadObject'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v3.0/nearest_settlement/:
    get:
      tags:
        - yTravel
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
        - name: apikey
          in: query
          description: API key
          required: false
          schema:
            type: string
        - name: lat
          in: query
          description: широта
          required: true
          schema:
            type: number
        - name: lng
          in: query
          description: долгота
          required: true
          schema:
            type: number
        - name: distance
          in: query
          description: радиус охвата
          required: true
          schema:
            type: integer
        - name: lang
          in: query
          description: lang
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: json или xml
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v3.0/carrier/:
    get:
      tags:
        - yTravel
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
        - name: apikey
          in: query
          description: API key
          required: false
          schema:
            type: string
        - name: code
          in: query
          description: код перевозчика
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: json или xml
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: lang
          required: false
          schema:
            type: string
        - name: system
          in: query
          description: текущая система кодирования
          required: false
          schema:
            type: string
            enum:
              - yandex
              - iata
              - sirena
              - express
              - esr
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carriers'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v3.0/stations_list/:
    get:
      tags:
        - yTravel
      summary: Список всех доступных станций
      operationId: getStationsList
      parameters:
        - name: apikey
          in: query
          description: API key
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: json или xml
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: lang
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsList'
            text/html:
              schema: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    CopyrightObject:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/Copyright'
    Copyright:
      type: object
      properties:
        text:
          type: string
        url:
          type: string
        logo_vm:
          type: string
        logo_vd:
          type: string
        logo_hy:
          type: string
        logo_hd:
          type: string
        logo_vy:
          type: string
        logo_hm:
          type: string
    Error:
      type: object
      properties:
        request:
          type: string
        text:
          type: string
        error_code:
          type: string
        http_code:
          type: string
    Schedules:
      type: object
      properties:
        date:
          type: string
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
            $ref: '#/components/schemas/StationForSchedule'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/StationSchedule'
        schedule_direction:
          $ref: '#/components/schemas/ScheduleDirection'
        directions:
          $ref: '#/components/schemas/Directions'
    StationSchedule:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          type: string
        terminal:
          type: string
        platform:
          type: string
    ScheduleDirection:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        number:
          type: string
        short_title:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
    Carrier:
      type: object
      properties:
        code:
          type: number
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        title:
          type: string
    Directions:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    CarrierCodes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
    StationForSchedule:
      type: object
      properties:
        code:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        codes:
          $ref: '#/components/schemas/StationForScheduleCodes'
        transport_type:
          type: string
        type:
          type: string
    StationForScheduleCodes:
      type: object
      properties:
        yandex:
          type: string
        esr:
          type: string
    SearchObject:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegment'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        search:
          $ref: '#/components/schemas/Search'
    IntervalSegment:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/StationForSearch'
        thread:
          $ref: '#/components/schemas/ThreadForSearch'
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/StationForSearch'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
    Segment:
      type: object
      properties:
        arrival:
          type: string
        from:
          $ref: '#/components/schemas/StationForSearch'
        thread:
          $ref: '#/components/schemas/ThreadForSearch'
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/StationForSearch'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
    StationForSearch:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
        type:
          type: string
    ThreadForSearch:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/CarrierForSearch'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    Interval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: string
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/Place'
    Place:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string
    Price:
      type: object
      properties:
        cents:
          type: integer
        whole:
          type: integer

    CarrierForSearch:
      type: object
      properties:
        code:
          type: number
        contacts:
          type: string
        url:
          type: string
        logo_svg:
          type: string
          nullable: true
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string
    Search:
      type: object
      properties:
        date:
          type: string
        to:
          $ref: '#/components/schemas/SearchPlace'
        from:
          $ref: '#/components/schemas/SearchPlace'
    SearchPlace:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        title:
          type: string
    ThreadObject:
      type: object
      properties:
        except_days:
          type: string
        arrival_date:
          type: string
        from:
          type: string
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        departure_date:
          type: string
        start_time:
          type: string
        number:
          type: string
        short_title:
          type: string
        days:
          type: string
        to:
          type: string
        carrier:
          $ref: '#/components/schemas/CarrierForThread'
        transport_type:
          type: string
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
        vehicle:
          type: string
        start_date:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    Stop:
      type: object
      properties:
        arrival:
          type: string
        departure:
          type: string
        duration:
          type: number
        stop_time:
          type: number
        station:
          $ref: '#/components/schemas/StationForStops'
        terminal:
          type: string
        platform:
          type: string
    StationForStops:
      type: object
      properties:
        codes:
          $ref: '#/components/schemas/StationForStopsCodes'
        title:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        code:
          type: string
        type:
          type: string
    StationForStopsCodes:
      type: object
      properties:
        express:
          type: string
        yandex:
          type: string
        esr:
          type: string
    CarrierForThread:
      type: object
      properties:
        code:
          type: number
        codes:
          $ref: '#/components/schemas/CarrierForThreadCodes'
    CarrierForThreadCodes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
    Settlement:
      type: object
      properties:
       distance:
          type: number
       code:
          type: string
       title:
          type: string
       popular_title:
          type: string
       short_title:
          type: string
       lat:
          type: number
       lng:
          type: number
       type:
          type: string
    Carriers:
      type: object
      properties:
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/CarrierForSearch'
        carrier:
          $ref: '#/components/schemas/CarrierForSearch'

    StationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'

    Country:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        codes:
          $ref: '#/components/schemas/SettlementsStationsCodes'
        title:
          type: string

    Region:
      type: object
      properties:
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlements'
        codes:
          $ref: '#/components/schemas/SettlementsStationsCodes'
        title:
          type: string

    Settlements:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/SettlementsStationsCodes'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/SettlementsStations'

    SettlementsStations:
      type: object
      properties:
        direction:
          type: string
        codes:
          $ref: '#/components/schemas/CarrierForSearch'
        station_type:
          type: string
        title:
          type: string
        transport_type:
          type: string
        longitude:
          oneOf:
            - type: number
            - type: string
          nullable: true
        latitude:
          oneOf:
            - type: number
            - type: string
          nullable: true

    SettlementsStationsCodes:
      type: object
      properties:
        esr_code:
          type: string
          nullable: true
        yandex_code:
          type: string
          nullable: true
