openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: yTravel
  description: Yandex.Travel Schedules
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - yTravel
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: false
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/copyright/:
    get:
      tags:
      - yTravel
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
      - name: apikey
        in: query
        description: API key
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightObject'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v3.0/schedule/:
    get:
      tags:
        - yTravel
      summary: Расписание рейсов по станции
      operationId: getSchedule
      parameters:
        - name: apikey
          in: query
          description: API key
          required: false
          schema:
            type: string
        - name: station
          in: query
          description: код станции
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: json или xml
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: lang
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата (формат YYYY-MM-DD)
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспортного средства.
          required: false
          schema:
            type: string
            enum:
              - plane
              - train
              - suburban
              - bus
              - water
              - helicopter
        - name: direction
          in: query
          description: Код направления
          required: false
          schema:
            type: string
        - name: event
          in: query
          description: departure или arrival
          required: false
          schema:
            type: string
            enum:
              - departure
              - arrival
        - name: system
          in: query
          description: Система кодирования для параметра station
          required: false
          schema:
            type: string
            enum:
              - yandex
              - iata
              - sirena
              - express
              - esr
        - name: show_systems
          in: query
          description: Коды в ответе
          required: false
          schema:
            type: string
            enum:
              - yandex
              - esr
              - all
        - name: result_timezone
          in: query
          description: Часовой пояс
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Значение по умолчанию — 100.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedules'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    CopyrightObject:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/Copyright'
    Copyright:
      type: object
      properties:
        text:
          type: string
        url:
          type: string
        logo_vm:
          type: string
        logo_vd:
          type: string
        logo_hy:
          type: string
        logo_hd:
          type: string
        logo_vy:
          type: string
        logo_hm:
          type: string
    Error:
      type: object
      properties:
        request:
          type: string
        text:
          type: string
        error_code:
          type: string
        http_code:
          type: string
    Schedules:
      type: object
      properties:
        date:
          type: string
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
            $ref: '#/components/schemas/StationForSchedule'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/StationSchedule'
        schedule_direction:
          $ref: '#/components/schemas/ScheduleDirection'
        directions:
          $ref: '#/components/schemas/Directions'
    StationSchedule:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          type: string
        terminal:
          type: string
        platform:
          type: string
    ScheduleDirection:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        number:
          type: string
        short_title:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
    Carrier:
      type: object
      properties:
        code:
          type: number
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        title:
          type: string
    Directions:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    CarrierCodes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
    StationForSchedule:
      type: object
      properties:
        code:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        codes:
          $ref: '#/components/schemas/StationForScheduleCodes'
        transport_type:
          type: string
        type:
          type: string
    StationForScheduleCodes:
      type: object
      properties:
        yandex:
          type: string
        esr:
          type: string
