openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: yTravel
  description: Yandex.Travel Schedules
paths:

  /v3.0/nearest_stations/:
    get:
      tags:
      - yTravel
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
        - $ref: '#/components/parameters/latParam'
          required: true
        - $ref: '#/components/parameters/lngParam'
          required: true
        - $ref: '#/components/parameters/distanceParam'
          required: true
        - $ref: '#/components/parameters/apikeyParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/langParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'

  /v3.0/copyright/:
    get:
      tags:
      - yTravel
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
        - $ref: '#/components/parameters/apikeyParam'
        - $ref: '#/components/parameters/formatParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightObject'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'

  /v3.0/schedule/:
    get:
      tags:
        - yTravel
      summary: Расписание рейсов по станции
      operationId: getSchedule
      parameters:
        - $ref: '#/components/parameters/stationParam'
          required: true
        - $ref: '#/components/parameters/apikeyParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/langParam'
        - $ref: '#/components/parameters/transportTypeParam'
        - $ref: '#/components/parameters/systemParam'
        - $ref: '#/components/parameters/showSystemsParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/resultTimezoneParam'
        - $ref: '#/components/parameters/dateParam'
        - $ref: '#/components/parameters/directionParam'
        - $ref: '#/components/parameters/eventParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedules'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'

  /v3.0/search/:
    get:
      tags:
        - yTravel
      summary: Расписание рейсов между станциями
      operationId: getSearches
      parameters:
        - $ref: '#/components/parameters/fromParam'
          required: true
        - $ref: '#/components/parameters/toParam'
          required: true
        - $ref: '#/components/parameters/apikeyParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/langParam'
        - $ref: '#/components/parameters/transportTypeParam'
        - $ref: '#/components/parameters/systemParam'
        - $ref: '#/components/parameters/showSystemsParam'
        - $ref: '#/components/parameters/dateParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/resultTimezoneParam'
        - $ref: '#/components/parameters/addDaysMaskParam'
        - $ref: '#/components/parameters/transfersParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchObject'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'

  /v3.0/thread/:
    get:
      tags:
        - yTravel
      summary: Список станций следования
      operationId: getThread
      parameters:
        - $ref: '#/components/parameters/uidParam'
          required: true
        - $ref: '#/components/parameters/apikeyParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/langParam'
        - $ref: '#/components/parameters/showSystemsParam'
        - $ref: '#/components/parameters/dateParam'
        - $ref: '#/components/parameters/fromParam'
        - $ref: '#/components/parameters/toParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadObject'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'

  /v3.0/nearest_settlement/:
    get:
      tags:
        - yTravel
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
        - $ref: '#/components/parameters/latParam'
          required: true
        - $ref: '#/components/parameters/lngParam'
          required: true
        - $ref: '#/components/parameters/distanceParam'
          required: true
        - $ref: '#/components/parameters/apikeyParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/langParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'

  /v3.0/carrier/:
    get:
      tags:
        - yTravel
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
        - $ref: '#/components/parameters/codeParam'
          required: true
        - $ref: '#/components/parameters/apikeyParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/langParam'
        - $ref: '#/components/parameters/systemParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carriers'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'

  /v3.0/stations_list/:
    get:
      tags:
        - yTravel
      summary: Список всех доступных станций
      operationId: getStationsList
      parameters:
        - $ref: '#/components/parameters/apikeyParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/langParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsList'
            text/html:
              schema: {}
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'

# components
components:

# responses
  responses:
    400BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    404NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

# parameters
  parameters:
    apikeyParam:
      name: apikey
      in: query
      description: API key
      schema:
        type: string

    formatParam:
      name: format
      in: query
      description: json или xml
      schema:
        type: string

    langParam:
      name: lang
      in: query
      description: lang
      schema:
        type: string

    transportTypeParam:
      name: transport_types
      in: query
      description: Тип транспортного средства.
      schema:
        type: string
        enum:
          - plane
          - train
          - suburban
          - bus
          - water
          - helicopter

    systemParam:
      name: system
      in: query
      description: Система кодирования для параметра station
      schema:
        type: string
        enum:
          - yandex
          - iata
          - sirena
          - express
          - esr

    showSystemsParam:
      name: show_systems
      in: query
      description: коды в ответе.
      schema:
        type: string
        enum:
          - yandex
          - esr
          - all

    latParam:
      name: lat
      in: query
      description: широта
      schema:
        type: number

    lngParam:
      name: lng
      in: query
      description: долгота
      schema:
        type: number

    distanceParam:
      name: distance
      in: query
      description: радиус охвата
      schema:
        type: integer

    dateParam:
      name: date
      in: query
      description: Дата (формат YYYY-MM-DD)
      schema:
        type: string

    limitParam:
      name: limit
      in: query
      description: Значение по умолчанию — 100.
      schema:
        type: integer

    offsetParam:
      name: offset
      in: query
      description: Значение по умолчанию — 0.
      schema:
        type: integer

    resultTimezoneParam:
      name: result_timezone
      in: query
      description: Часовой пояс
      schema:
        type: string

    fromParam:
      name: from
      in: query
      description: Код станции отправления.
      schema:
        type: string

    toParam:
      name: to
      in: query
      description: Код станции прибытия.
      schema:
        type: string

    stationParam:
      name: station
      in: query
      description: код станции
      schema:
        type: string

    codeParam:
      name: code
      in: query
      description: код перевозчика
      schema:
        type: string

    directionParam:
      name: direction
      in: query
      description: Код направления
      schema:
        type: string

    eventParam:
      name: event
      in: query
      description: departure или arrival
      schema:
        type: string
        enum:
          - departure
          - arrival

    addDaysMaskParam:
      name: add_days_mask
      in: query
      description: запрос календаря хождения рейсов
      schema:
        type: boolean

    transfersParam:
      name: transfers
      in: query
      description: признак запроса маршрутов с пересадками.
      schema:
        type: boolean

    uidParam:
      name: uid
      in: query
      description: Идентификатор нитки.
      schema:
        type: string

# schemas
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string

    CopyrightObject:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/Copyright'

    Copyright:
      type: object
      properties:
        text:
          type: string
        url:
          type: string
        logo_vm:
          type: string
        logo_vd:
          type: string
        logo_hy:
          type: string
        logo_hd:
          type: string
        logo_vy:
          type: string
        logo_hm:
          type: string

    Error:
      type: object
      properties:
        request:
          type: string
        text:
          type: string
        error_code:
          type: string
        http_code:
          type: string

    Schedules:
      type: object
      properties:
        date:
          type: string
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
            $ref: '#/components/schemas/Station'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/StationSchedule'
        schedule_direction:
          $ref: '#/components/schemas/Directions'
        directions:
          $ref: '#/components/schemas/Directions'

    StationSchedule:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          type: string
        terminal:
          type: string
        platform:
          type: string

    Directions:
      type: object
      properties:
        code:
          type: string
        title:
          type: string

    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string

    Station:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
          nullable: true
        type:
          type: string
        lat:
          type: number
          nullable: true
        lng:
          type: number
          nullable: true
        distance:
          type: number
          nullable: true
        majority:
          type: integer
          nullable: true
        type_choices:
          $ref: '#/components/schemas/Schedule'
          nullable: true
        codes:
          $ref: '#/components/schemas/StationCodes'
          nullable: true

    SearchObject:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        search:
          $ref: '#/components/schemas/Search'

    Segment:
      type: object
      properties:
        arrival:
          type: string
          nullable: true
        from:
          $ref: '#/components/schemas/Station'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/Station'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string

    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        number:
          type: string
        short_title:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
        thread_method_link:
          type: string
          nullable: true
        interval:
          $ref: '#/components/schemas/Interval'
          nullable: true

    ThreadObject:
      type: object
      properties:
        except_days:
          type: string
        arrival_date:
          type: string
        from:
          type: string
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        departure_date:
          type: string
        start_time:
          type: string
        number:
          type: string
        short_title:
          type: string
        days:
          type: string
        to:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
        vehicle:
          type: string
        start_date:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string

    Interval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: string

    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/Place'

    Place:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string

    Price:
      type: object
      properties:
        cents:
          type: integer
        whole:
          type: integer

    Carrier:
      type: object
      properties:
        code:
          type: number
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        title:
          type: string
          nullable: true
        contacts:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        logo_svg:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        logo:
          type: string
          nullable: true
        email:
          type: string
          nullable: true

    CarrierCodes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string

    StationCodes:
      type: object
      properties:
        express:
          type: string
          nullable: true
        yandex:
          type: string
          nullable: true
        esr:
          type: string
          nullable: true
        esr_code:
          type: string
          nullable: true
        yandex_code:
          type: string
          nullable: true

    Search:
      type: object
      properties:
        date:
          type: string
        to:
          $ref: '#/components/schemas/SearchPlace'
        from:
          $ref: '#/components/schemas/SearchPlace'

    SearchPlace:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        title:
          type: string
    Stop:
      type: object
      properties:
        arrival:
          type: string
        departure:
          type: string
        duration:
          type: number
        stop_time:
          type: number
        station:
          $ref: '#/components/schemas/Station'
        terminal:
          type: string
        platform:
          type: string

    Settlement:
      type: object
      properties:
       distance:
          type: number
       code:
          type: string
       title:
          type: string
       popular_title:
          type: string
       short_title:
          type: string
       lat:
          type: number
       lng:
          type: number
       type:
          type: string

    Carriers:
      type: object
      properties:
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/Carrier'
        carrier:
          $ref: '#/components/schemas/Carrier'

    StationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'

    Country:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        codes:
          $ref: '#/components/schemas/StationCodes'
        title:
          type: string

    Region:
      type: object
      properties:
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlements'
        codes:
          $ref: '#/components/schemas/StationCodes'
        title:
          type: string

    Settlements:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/StationCodes'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/SettlementsStations'

    SettlementsStations:
      type: object
      properties:
        direction:
          type: string
        codes:
          $ref: '#/components/schemas/Carrier'
        station_type:
          type: string
        title:
          type: string
        transport_type:
          type: string
        longitude:
          oneOf:
            - type: number
            - type: string
          nullable: true
        latitude:
          oneOf:
            - type: number
            - type: string
          nullable: true
